<div class="bg-light d-flex align-items-center fileSelect">
    <div class="col-sm-12">
        <table class="d-flex justify-content-center">
            <tr>
                <td>
                    <input type="file" #fileLoadInput name="File Upload" id="txtFileUpload" class="btn btnChooseFile" (change)="fileChangeListener($event)" accept=".csv,.xml" value={{selectedImageFile}}/>
                </td>
                <td>
                    <input type="button" name="Reset" id="txtFileReset" class="btn btnReset ml-2" (click)="fileReset()" value="Reset" />
                </td>
                <td>
                    <input type="button" name="Process" *ngIf="processBtn" class="btn btnProcess ml-2" (click)="fileProcess()" value="Process" data-toggle="modal" data-target="#exampleModalCenter" />
                </td>
            </tr>
        </table>
        <small class="d-flex justify-content-center unsupported" *ngIf="!supportedFileFormat">Unsupported file format</small>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">{{this.modalTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{this.modalBody}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center mt-5 userInformation" *ngIf="displayUserInfo">
    <div class="row ml-4">
        <div class="col-sm-12">
            <div class="media bg-light">
                <img src="../../assets/icon/info-user.png" class="align-self-start mr-3 m-4" alt="User Info" style="width:100px">
                <div class="media-body m-4">
                    <h5 class="mt-0">Steps to use this application</h5>
                    <ul>
                        <li class="mt-2">
                            Select a CSV/XML file using choose file button.
                        </li>
                        <li class="mt-2">
                            Once the CSV/XML file is loaded successfully, the data file will be displayed in a tablular column.
                        </li>
                        <li class="mt-2">
                            Click on Process button to process the records.
                        </li>
                        <li class="mt-2">
                            If the records get successfully processed, you get success alert.
                        </li>
                        <li class="mt-2">
                            If the records gets failed (a record is considered as 'failed' if end balance is not calculated properly or if the transaction reference is not unique), you get failure alert along with a CSV file which contains the failed records.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4" *ngIf="successProcess">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Success!!</h4>
                <p>File processed successfully. Processed records are given below.</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4" *ngIf="failureProcess">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Failure!!</h4>
                <p>File processing failed. Failed records are given below.</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12">
            <table class="table data-table">
                <thead class="tableHeader">
                    <tr>
                        <th scope="col" *ngFor="let header of headersRow;let i=index">{{header}}</th>
                    </tr>
                </thead>
                <tbody class="tableBody">
                    <tr *ngFor="let rec of dataWithoutHeader;let i=index">
                        <td *ngFor="let data of rec;let j=index">{{data}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- <footer class="footer d-flex justify-content-center footerBottom">
  <p class="footerBody">&copy; CSV/XML Parser and Reporter</p>
</footer>  -->