<div class="container-fluid">
    <div class="row bg-light mb-4">
        <div class="offset-lg-4 offset-md-3 col-lg-4 col-md-6 col-sm-6">
            <div class="input-group p-3">
                <input type="file" #fileLoadInput name="File Upload" id="txtFileUpload" class="form-control pb-4 btnChooseFile" (change)="fileChangeListener($event)" accept=".csv,.xml" value={{selectedImageFile}}/>
                <div class="input-group-append">
                    <button type="button" class="btn btnReset" (click)="fileReset()"><i class="fas fa-redo"></i> Reset</button>
                    <button type="button" *ngIf="processBtn" class="btn ml-2 btnProcess" (click)="fileProcess()" data-toggle="modal" data-target="#exampleModalCenter">
                            <i class="fas fa-file-alt mr-1"></i> Process</button>
                    <small class="d-flex justify-content-center unsupported" *ngIf="!supportedFileFormat">Unsupported file format</small>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">{{this.modalTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{this.modalBody}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container d-flex justify-content-center mt-5 userInformation" *ngIf="displayUserInfo">
    <div class="row ml-4">
        <div class="col-sm-12">
            <div class="media bg-light">
                <img src="../../assets/icon/info-user.png" class="align-self-start mr-3 m-4" alt="User Info" style="width:100px">
                <div class="media-body m-4">
                    <h5 class="mt-0">Steps to use this application</h5>
                    <ul>
                        <li class="mt-2">
                            Select a CSV/XML file using choose file button.
                        </li>
                        <li class="mt-2">
                            Once the CSV/XML file is loaded successfully, the data file will be displayed in a tablular column.
                        </li>
                        <li class="mt-2">
                            Click on Process button to process the records.
                        </li>
                        <li class="mt-2">
                            If the records get successfully processed, you get success alert.
                        </li>
                        <li class="mt-2">
                            If the records gets failed (a record is considered as 'failed' if end balance is not calculated properly or if the transaction reference is not unique), you get failure alert along with a CSV file which contains the failed records.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container" *ngIf="displayUserInfo">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                        <div class="media bg-light">
                            <img src="../../assets/icon/info-user.png" class="user-image align-self-start mr-3 m-4" alt="User Info">
                            <div class="media-body m-4">
                                <h5 class="mt-0">Steps to use this application</h5>
                                <ul>
                                    <li class="mt-2">
                                        Select a CSV/XML file using choose file button.
                                    </li>
                                    <li class="mt-2">
                                        Once the CSV/XML file is loaded successfully, the data file will be displayed in a tablular column.
                                    </li>
                                    <li class="mt-2">
                                        Click on Process button to process the records.
                                    </li>
                                    <li class="mt-2">
                                        If the records get successfully processed, you get success alert.
                                    </li>
                                    <li class="mt-2">
                                        If the records gets failed (a record is considered as 'failed' if end balance is not calculated properly or if the transaction reference is not unique), you get failure alert along with a CSV file which contains the failed records.
                                    </li>
                                </ul>
                            </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4" *ngIf="successProcess">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Success!!</h4>
                <p>File processed successfully. Processed records are given below.</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4" *ngIf="failureProcess">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Failure!!</h4>
                <p>File processing failed. Failed records are given below.</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table data-table">
                    <thead class="tableHeader">
                        <tr>
                            <th scope="col" *ngFor="let header of headersRow;let i=index">{{header}}</th>
                        </tr>
                    </thead>
                    <tbody class="tableBody">
                        <tr *ngFor="let rec of dataWithoutHeader;let i=index">
                            <td *ngFor="let data of rec;let j=index">{{data}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>