.fileSelect{
    height: 80px;
}

.btnReset, .tableBody{
    background-color: #f56b11;
    color: #f9f9fa;
}

.btnProcess {
    background-color: #12129b;
    color: white;
}

input {
    border-radius: 0 !important;
}

.btnChooseFile {
    height: 40px;
    padding: 4px 0 0 15px;
}

.user-image {
    display: block;
    width: 100px;
}

.tableHeader{
    background-color: #12129b;
    color: #f9f9fa;
}

.userInformation{
    margin: 90px !important;
}

.unsupported{
    color: red;
}

@media (max-width:767px) {
    .user-image {
        display: none;
    }
}